.cardMedia {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    overflow: hidden;
    padding: 1.5rem;
    text-decoration: none !important;
    transition: transform 0.3s ease, background 0.3s ease;
    color: var(--white);
    flex: 1;                
    flex-direction: column;
    justify-content: flex-start;
    background-position: center;    
    background-size: cover;         
    background-repeat: no-repeat;
  }
  
  .cardMedia img {
    width: 100%;
    height: 100%;
    object-fit: cover;              
    object-position: center;        
  }

  .cardMedia::before {
    content: "";
    position: absolute;
    inset: 0;                       
    background: transparent;
    transition: background 0.3s ease-in-out;
    pointer-events: none;          
  }
  
  .cardMedia:hover::before {
    background: rgba(0, 0, 0, 0.1); 
  }

  .content {
    flex: 1;
    z-index: 1;
    /* display: flex;
    flex-direction: column; */
  }
  .title {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
  }
  .text {
    margin: 0;
    line-height: 1.5;
    /* max-width: 80%; */
    z-index: 1;
    /* margin-top: auto;  */
  }
  
  .arrowContainer {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    background-color: var(--jaune);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1;
  }

  .cardMedia:hover .arrowContainer {
    transform: translate(0.2rem, -50%);
    background-color: var(--c-ffdc81);
    color: var(--black);
  }
  .cardMedia .title,
  .cardMedia .text {
    color: var(--white);
  }
  
  .cardMedia:hover .title,
  .cardMedia:hover .text {
    color: var(--white);
  }

  .arrowContainer {
    color: var(--black);
  }

  .arrowContainer svg {
    color: inherit;
  }

  @media screen and (max-width: 768px) {
    .cardMedia {
      flex-direction: column;
      border-radius: 0 !important;
    }
    .card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .arrowContainer {
      display: none;
    }
  }