.cardLink {
  min-width: 260px;
  max-width: 100%;
  text-decoration: none;

}

.cardRoot {
  height: 100%;
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardIcon {
  height: 55px;
  display: flex;
  align-items: center;
}

.cardTitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.cardSpacer {
  flex-grow: 1;
}

.cardMore {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(0, 0, 0);
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.cardArrow {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardLink:visited,
.cardLink:hover,
.cardLink:focus {
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .cardRoot {
    border-radius: 0;
  }

  .cardLink {
    margin-bottom: 1rem;
  }

  .card-row {
    gap: 0rem !important;
  }
}

@media screen and (max-width: 768px) {
  .cardLink {
    display: flex;
    flex-direction: column;
    height: auto !important;       
    padding: 0;  
    margin-bottom: 0;  
    border-radius: 0;   
  }

  .cardRoot {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    max-height: 220px;
    min-height: height 180px;
    height:auto;
    border-radius: 0;
    border-bottom: 1px solid #000;
    align-items: flex-start;
    gap: 1rem;
  }
  .cardFooter {
    display: none;
  }
  .cardIcon {
    height: 40px;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .cardMore {
    font-size: 0.9rem;
  }

  .cardArrow {
    width: 2.5rem;
    height: 2.5rem;
  }
  .card-row {
    gap: 0 !important;
  }
}