.container {
  width: 100%;
  height: 500px;
  margin: 2rem 0;
  border-radius: 16px;
  overflow: hidden; 
}

.container:focus {
  outline: 2px solid var(--jaune);
  outline-offset: 2px;
  border-radius: 16px; 
}
