.heroSection {
  padding: 4rem 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;       /* ← centre horizontalement */
  justify-content: center;   /* ← centre verticalement si besoin */
  text-align: center;
}

.heroTitle {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.heroText {
  font-size: 1.125rem;
  color: var(--c-444444);
  margin-bottom: 2rem;
  line-height: 1.7;
  max-width: 650px;
}

.heroButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color:var(--bleu-500);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.heroButton:hover {
  background-color: var(--c-004c94);
}

.heroIcon {
  display: inline-block;
  transform-origin: 70% 70%;
  /* couleur et taille déjà passées en props, mais vous pouvez préciser ici si besoin */
}

@keyframes wave {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(15deg); } /* aller */
  100% { transform: rotate(0deg); }  /* retour */
}

/* Classe ajoutée une seule fois → 2 cycles d’animation */
.animate {
  animation: wave 0.6s ease-in-out 2 forwards;
}