@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

:root {
  --ifm-color-primary:var(--bleu-500);
  --ifm-color-primary-dark: var(--bleu-700);
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Figtree", sans-serif;
  --ifm-breadcrumb-item-background-active: #ffffff; 
  --ifm-menu-color-background-hover : var(--bleu-50);
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.main-wrapper {
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

.docs-wrapper .navbar .navbar__toggle {
  margin-right: 0.8rem;
}

.theme-doc-sidebar-container .menu {
  padding: 1.15rem 1.15rem 2rem 1.15rem;
  font-weight: 400;
}

.theme-doc-sidebar-container .menu ul.menu__list .menu__list-item > a {
  padding: 6px 12px 6px 12px;
}

.theme-doc-sidebar-container .menu ul.menu__list .menu__list-item.menu__list-item-collapsible > a {
  font-weight: 500;
  color: var(--ifm-heading-color);
}

.theme-doc-sidebar-container .menu ul.menu__list .menu__list-item .menu__link--sublist-caret:after,
.theme-doc-sidebar-container .menu ul.menu__list .menu__list-item .menu__caret:before {
  background-size: 1.3rem;
}

.container {
  margin-bottom: 42px;
  padding-left: 42px;
  padding-right: 42px;
  margin-top: 22px;
}

.tabs {
  border-bottom: 1px solid var(--ifm-table-border-color);
}

.tabs__item {
  border-radius: 4px;
  padding: 8px 16px;
}

.tabs__item--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

pre {
  border: 1px solid var(--ifm-color-emphasis-200);
}

.card {
  border-radius: 32px;
}




.card--clickable:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #00407f;
}


#__docusaurus .navbar__items:not(.navbar__items--right)
  .navbar__link:not(.cta):hover {
  color: var(--ifm-color-primary) !important;
}

/* trait soulignement qui apparaît au survol */
#__docusaurus .navbar__items:not(.navbar__items--right)
  .navbar__link:not(.cta):hover::after {
  background-color: var(--ifm-color-primary) !important;
}

#__docusaurus .navbar__items:not(.navbar__items--right) .navbar__link--active {
  font-weight: 700 !important;
}




html[data-theme="light"] {
  --navbar-link-c: var(--c-indigo-80);
  --navbar-separator-bg-c: var(--c-indigo-40);
  --ifm-dropdown-background-color: var(--token-secondary-bg-c);
  --navbar-icon-link-c: var(--c-indigo-60);
  --navbar-text-color: #5a5f66;
  --navbar-active-border-color: #000000;
  --search-kbd-color: #5a5f66;
}

html[data-theme="dark"] {
  --navbar-link-c: var(--c-gray-0);
  --navbar-separator-bg-c: var(--c-carbon-80);
  --navbar-icon-link-c: var(--c-white);
  --navbar-text-color: var(--ifm-color-emphasis-500);
  --navbar-active-border-color: var(--ifm-color-emphasis-900);
  --search-kbd-color: var(--ifm-color-emphasis-700);
}

:root {
  --navbar-dropdown-icon: var(--ifm-menu-link-sublist-icon);
}

/* Navbar styles */
#__docusaurus .navbar {
  padding: 0 16px;
  font-size: 18px;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

#__docusaurus .navbar__link {
  font-weight: 500;
  font-size: 1rem!important;
  color: var(--navbar-link-c);
}

@media screen and (max-width: 1210px) {
  #__docusaurus .navbar__link {
    font-size: 0.8rem !important;
  }
}

#__docusaurus .navbar__inner {
  width: initial;
  flex-grow: 1;
  flex-wrap: nowrap;
  max-width: 1400px;
}

#__docusaurus .navbar__items {
  min-width: auto;
}

#__docusaurus .navbar__items:not(.navbar__items--right) .navbar__link:not(.cta) {
  align-self: stretch;
  align-items: center;
  position: relative;
  color: var(--navbar-text-color) !important;
}

#__docusaurus .navbar__items:not(.navbar__items--right) .navbar__link:not(.cta)::after {
  content: "";
  position: absolute;
  height: 2px;
  left: var(--ifm-navbar-item-padding-horizontal);
  right: var(--ifm-navbar-item-padding-horizontal);
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-out;
}

#__docusaurus .navbar__items:not(.navbar__items--right) .navbar__link--active {
  color: var(--navbar-active-border-color) !important;
}

#__docusaurus .navbar__items:not(.navbar__items--right) .navbar__link--active::after {
  background: var(--ifm-link-color);
  background-color: var(--navbar-active-border-color) !important;
}

/* DocSearch styles */
#__docusaurus .navbar__items .DocSearch-Button {
  border-radius: 3px !important;
}

#__docusaurus .navbar__items .DocSearch-Button .DocSearch-Search-Icon {
  width: 16px;
  margin-top: -1px;
}

#__docusaurus .navbar__items .DocSearch-Button .DocSearch-Button-Keys {
  border: none;
}

#__docusaurus .navbar__items .DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key:first-child {
  color: var(--search-kbd-color) !important;
  font-size: 18px;
}

#__docusaurus .navbar__items .DocSearch-Button .DocSearch-Button-Keys .DocSearch-Button-Key:last-child {
  color: var(--search-kbd-color) !important;
  font-size: 12px;
}


.navbar__logo img {
  height: 160%;
  margin-top: -10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__header {
  font-size: 1.2rem;
  font-weight: bold;
}
.card__body {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.card__footer {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
}

/* Boutons */

.button {
  
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  padding: 0.8rem 1.6rem; 
  border-radius: 24px; 
  font-size: 1rem; 
  font-weight: bold; 
  text-align: center; 
  text-decoration: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border: none; 
}

.button--primary {
  background-color: var(--ifm-color-primary);
  color: #fff;
  border: none;
}

.button--primary:hover {
  background-color: var(--ifm-color-primary-dark);
}

.button--block {
  display: inline-block;
}

.button p {
  margin: 0; /* Supprime toutes les marges */
}

.button.button--secondary {
  background-color: var(--gris-50);
  color: var(--bleu-500);
  border: 2px solid var(--bleu-500);
  transition:
    background-color 0.3s ease,
    border-color     0.3s ease,
    color            0.3s ease;
}

.button.button--secondary:hover {
  color: var(--bleu-700);
  border-color: #004080;
  color : var(--bleu-700);
  
}

.pagination-nav {
  display: none;
  }

.hidden {
  display: none !important;
}

.image-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
  max-width: 50%; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  background: #f8f9fa; /* Fond léger */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


/* Cacher le TOC s'il ne contient qu'un seul élément */
.theme-doc-toc-desktop ul {
  display: none;
}

/* Afficher le TOC seulement s'il a plus d'un élément */
.theme-doc-toc-desktop ul:has(li:nth-child(2)) {
  display: block;
}

.theme-admonition {
  margin-top: 2em;
}


/* Grille verticale */
.support-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

/* Carte de soutien */
.support-card {
  background-color:var(--bleu-500); /* bleu UdeM */
  color: #ffffff;
  border-radius: var(--ifm-global-radius);
  padding: 1.5rem;
  box-shadow: var(--ifm-global-shadow-lw);
  transition: transform 0.2s ease;
}

.support-card:hover {
  transform: translateY(-2px);
}

/* Titre */
.support-card h3 {
  font-size: 1.6rem;
  margin: 0;
  color: #ffffff;
}

/* Icône + titre centré */
.support-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Liens */
.support-card a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.support-card a:hover {
  text-decoration: none;
}

/* Texte et listes */
.support-card p,
.support-card li {
  line-height: 1.6;
  font-size: 1rem;
}

/* Titres secondaires */
.support-card strong {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  color: #ffffff;
}



#udem_cookie_consent_toggle {
  display: none !important;
}

@media screen and (min-width: 996px) {
  .navbar__items:not(.navbar__items--right) .navbar__link {
    display: flex;
  }


}

@media screen and (max-width: 768px) {
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

}

@media screen and (max-width: 550px) {
  .linksSection {
    gap: 0 !important;
    margin: 0 !important;
    margin-top: 0 !important;
  }
}



/* Lien vers le site des bibliothèques */

.external-highlight-link {
  font-size: 90% !important;
  font-weight: 600;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: #0057ac !important;
}

.external-highlight-link::after {
  content: '';
  display: inline-block;
  width: 0.85em;
  height: 0.85em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 256 256'%3E%3Cpath d='M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-left: 0.1em; */
  vertical-align: middle;

  /* Animation */
  transition: transform 0.2s ease;
}

.external-highlight-link:hover::after {
  transform: translateX(3px);
}

@media screen and (max-width: 768px) {
  .external-highlight-link::after, .external-highlight-link {
    display: none;
  }
}


/* LibChat */

/* .lcs_slide_out div.lcs_header a {
  background-color: transparent !important;
}

.s-lch-pane {
  background-color: transparent !important;
} */

/* .lcs_slide_out {
  border: none !important;
} */
